@font-face {
font-family: 'Media77';
src: url('/fonts/Media77-Light/Media77-Light.eot');
src: url('/fonts/Media77-Light/Media77-Light.eot?#iefix') format('embedded-opentype'),
url('/fonts/Media77-Light/Media77-Light.woff2') format('woff2'),
url('/fonts/Media77-Light/Media77-Light.woff') format('woff');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Media77';
src: url('/fonts/Media77-Light-Italic/Media77-Light-Italic.eot');
src: url('/fonts/Media77-Light-Italic/Media77-Light-Italic.eot?#iefix') format('embedded-opentype'),
url('/fonts/Media77-Light-Italic/Media77-Light-Italic.woff2') format('woff2'),
url('/fonts/Media77-Light-Italic/Media77-Light-Italic.woff') format('woff');
font-weight: 300;
font-style: italic;
}
@font-face {
font-family: 'Media77';
src: url('/fonts/Media77-Regular/Media77-Regular.eot');
src: url('/fonts/Media77-Regular/Media77-Regular.eot?#iefix') format('embedded-opentype'),
url('/fonts/Media77-Regular/Media77-Regular.woff2') format('woff2'),
url('/fonts/Media77-Regular/Media77-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Media77';
src: url('/fonts/Media77-Italic/Media77-Italic.eot');
src: url('/fonts/Media77-Italic/Media77-Italic.eot?#iefix') format('embedded-opentype'),
url('/fonts/Media77-Italic/Media77-Italic.woff2') format('woff2'),
url('/fonts/Media77-Italic/Media77-Italic.woff') format('woff');
font-weight: 400;
font-style: italic;
}
@font-face {
font-family: 'Media77';
src: url('/fonts/Media77-Bold/Media77-Bold.eot');
src: url('/fonts/Media77-Bold/Media77-Bold.eot?#iefix') format('embedded-opentype'),
url('/fonts/Media77-Bold/Media77-Bold.woff2') format('woff2'),
url('/fonts/Media77-Bold/Media77-Bold.woff') format('woff');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'Media77';
src: url('/fonts/Media77-Bold-Italic/Media77-Bold-Italic.eot');
src: url('/fonts/Media77-Bold-Italic/Media77-Bold-Italic.eot?#iefix') format('embedded-opentype'),
url('/fonts/Media77-Bold-Italic/Media77-Bold-Italic.woff2') format('woff2'),
url('/fonts/Media77-Bold-Italic/Media77-Bold-Italic.woff') format('woff');
font-weight: 700;
font-style: italic;
}

@font-face {
font-family: 'Media77';
src: url('/fonts/Media77-Medium/Media77-Medium.eot');
src: url('/fonts/Media77-Medium/Media77-Medium.eot?#iefix') format('embedded-opentype'),
url('/fonts/Media77-Medium/Media77-Medium.woff2') format('woff2'),
url('/fonts/Media77-Medium/Media77-Medium.woff') format('woff');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'Media77';
src: url('/fonts/Media77-Medium-Italic/Media77-Medium-Italic.eot');
src: url('/fonts/Media77-Medium-Italic/Media77-Medium-Italic.eot?#iefix') format('embedded-opentype'),
url('/fonts/Media77-Medium-Italic/Media77-Medium-Italic.woff2') format('woff2'),
url('/fonts/Media77-Medium-Italic/Media77-Medium-Italic.woff') format('woff');
font-weight: 500;
font-style: italic;
}
@font-face {
font-family: 'Antique Legacy';
src: url('/fonts/Antique-Legacy-Medium/Antique-Legacy-Medium.eot');
src: url('/fonts/Antique-Legacy-Medium/Antique-Legacy-Medium.eot?#iefix') format('embedded-opentype'),
url('/fonts/Antique-Legacy-Medium/Antique-Legacy-Medium.woff2') format('woff2'),
url('/fonts/Antique-Legacy-Medium/Antique-Legacy-Medium.woff') format('woff');
font-weight: 500;
font-style: normal;
}