$display: 'Antique Legacy', sans-serif;
$text: 'Media77', serif;

$back-color: #444;
$front-color: #FFF;

$base: 16px;
$phone: 888px;

$white: #FFFFFF;
$black: #000000;
$green: #173C3A;
$pink: #9D396C;
$red: #FF0000;
$yellow: #ECC069;
$beige: #E4D7B2;
 
// :export {
//   baseFont: $base-font;
//   backColor: $back-color;
//   frontColor: $front-color;
//   base: $base;
// }